


  @media screen and (max-width: 768px) {
    /* body {
      background-color: orange;
    } */
    .header {
      text-align: center;
    }
    .container .content {
      /* esta es una manera de decirle que abarque todo */
      grid-column: 1/-1;
    }
    .container .sidebar {
      grid-column: 1/-1;
    }
    .container >  .post {
      grid-column: 1/6;
    }
    .title > h1 {
      font-size: 1.5em;
    }
    .an > a {
      margin: 0 0.2rem;
      color: rgb(25, 117, 192);
      padding: 0.6rem 1rem;
      background: $link;
      border-radius: 0.3rem;
      font-size: 0.5rem;
    }
    .grid-footer > a {
      font-size: 0.5rem;
  }
  .btn {
    margin: 0 auto;
    padding: 0.3em 2em;
    line-height:1em;
    text-decoration: none;
    display: inline-block;
  }

  .grid-header-title {
    font-size: .7rem;
}
}
  
 
